    <nz-carousel nzAutoPlay>
        <div nz-carousel-content >
            <p class="carru">
            <img src="https://c8.alamy.com/compes/f0w6ft/collage-de-fotos-de-montones-de-libros-diferentes-sobre-una-mesa-en-una-silla-o-en-una-vieja-maleta-f0w6ft.jpg" alt="Libros" id="Lib">
            </p>
        </div>
        <div nz-carousel-content>
            <p class="carru">
            <img src="https://m.media-amazon.com/images/I/A1fH3PjljyS._AC_SY450_.jpg" alt="Manga" id="Man">
            </p>
        </div>
        <div nz-carousel-content>
            <p class="carru">
            <img src="https://ksr-ugc.imgix.net/assets/011/747/747/fad08fefc272afc5ef3280a074072efb_original.jpg?ixlib=rb-4.0.2&crop=faces&w=1552&h=873&fit=crop&v=1463689340&auto=format&frame=1&q=92&s=afe21ed60fa0a82270d418f843f8d96c" alt="Comics" id="Com">
            </p>
        </div>
    </nz-carousel>
<app-tab-cat-pop></app-tab-cat-pop>
<app-tab-lib-mod></app-tab-lib-mod>
